.footer {
  margin-bottom: 30px;
  padding: 15px 15px;
  border: 1px solid #bcbcbc;
  display: flex;
  flex-wrap: wrap;
  .as-link {
    padding: 0;
    background: transparent;
    border: 0;
    text-align: left;
  }
  li:not(:last-child) {
    margin-bottom: 10px;
  }
}

.footer-block {
  width: calc(100% / 3);
  padding: 0 15px;
}

.footer-title {
  margin-bottom: 20px;
  font-size: 20px;
  color: #24404d;
}

.footer-phone {
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
  color: #24404d;
  display: inline-block;
}

.footer-bottom {
  width: 100%;
  padding: 30px 0 0;
  display: flex;
  align-items: center;
}

.footer-pay {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.footer-pay__list {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    max-width: 100px;
    padding: 0 10px;
  }
}
