.header {
  margin-bottom: 20px;
}

.header-top {
  padding-left: 30px;
  margin-bottom: 11px;
  display: flex;
}

.header-info {
  max-width: 79%;
  padding-top: 25px;
  text-align: center;
  flex: 1;
}

.header-title {
  margin-bottom: 20px;
  color: #f26e20;
  font-size: 28px;
  font-weight: normal;
}

.header-title__name {
  margin-top: 9px;
  color: #3e535c;
  font-size: 22px;
  display: block;
}

.header-logo {
  width: 21%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-menu {
  display: flex;
  justify-content: center;
}

.header-menu__item {
  max-width: 270px;
  width: 100%;
  padding: 0 15px;
}

.header-menu__link {
  width: 100%;
  min-height: 41px;
  padding-top: 3px;
  padding-bottom: 2px;
  color: #fff;
  background-color: #24404d;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: #fff;
    background-color: #f26e20;
  }
}

.header-pre-title {
  padding-top: 11px;
  padding-bottom: 11px;
  min-height: 50px;
  color: #fff;
  background-color: #f26e20;
  font-size: 22px;
}
