@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "common/variables";
@import "common/mixin";

@media (min-width: 993px) {
  .general-content-left {
    width: 78%;
  }
  .general-content-right {
    width: 20%;
      padding: 10px 10px 0;
  }
}

@media (min-width: 1255px) {
  .header-top {
    padding-left: 30px;
  }
  .header-pre-title {
    padding-left: 30px;
    padding-right: 30px;
  }
  .general-content-left {
    padding: 25px 30px;
  }
}

@media (max-width: 1255px) {
  .container,
  .header-pre-title {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-top {
    padding-left: 15px;
  }
  .general-content-left {
    padding: 15px;
  }
}

@media (max-width: 992px) {
  .general-content {
    flex-wrap: wrap;
  }
  .general-content-left {
    width: 100%;
    order: 1;
  }
  .general-content-right {
    width: 100%;
    padding-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  .menu-block {
    width: calc(100% / 3);
    padding-left: 10px;
    padding-right: 10px;
  }
}
